absl-py==1.4.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.3.0
astor==0.8.0
astunparse==1.6.3
attrs==23.1.0
backcall==0.1.0
backports.csv==1.0.7
beautifulsoup4==4.9.0
bleach==6.0.0
blinker==1.4
cachetools==3.1.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.5.0
click==7.1.1
cmake==3.27.2
contourpy==1.0.5
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
definitions==0.2.0
defusedxml==0.7.1
dpcpp-cpp-rt==2023.2.0
entrypoints==0.4
environment-kernels==1.1.1
exceptiongroup==1.1.3
fastjsonschema==2.18.0
feedparser
filelock
flatbuffers==23.5.26
fonttools==4.42.1
future==0.18.2
gast==0.2.2
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.13.2
grpcio==1.57.0
h5py==3.9.0
idna==2.9
importlib-metadata==6.7.0
importlib-resources==5.12.0
intel-cmplr-lib-rt==2023.2.0
intel-cmplr-lic-rt==2023.2.0
intel-opencl-rt==2023.2.0
intel-openmp==2023.2.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
jedi==0.16.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.0
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.0.2
keras==2.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
libclang==16.0.6
lit==16.0.6
lxml==4.5.0
Markdown==3.1.1
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.3
mistune==3.0.1
mkl==2023.2.0
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==8.2.0
mpmath==1.3.0
mysqlclient
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.5.7
networkx==3.1
nltk==3.4.5
notebook==6.5.5
notebook_shim==0.2.3
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.6.2
Pattern==3.6
pdfminer.six==20200402
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkgutil_resolve_name==1.3.10
portend==2.6
prometheus-client==0.17.1
prompt-toolkit==3.0.4
protobuf==4.24.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pycryptodome==3.9.7
pydot==1.2.3
pydotplus==2.0.2
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.10
pytz==2023.3
PyYAML==5.3
pyzmq==24.0.1
qtconsole==5.2.2
QtPy==2.0.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==1.3.0
scipy==1.10.1
Send2Trash==1.8.2
sets==0.3.2
six==1.14.0
sklearn==0.0
sniffio==1.3.0
sortedcontainers==2.1.0
soupsieve==2.0
sympy==1.11.1
tabulate==0.8.7
tbb==2021.10.0
tempora==3.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==1.1.0
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.2.1
torch==2.0.1
torchsummary==1.5.1
torchvision==0.15.2
tornado==6.2
tqdm==4.45.0
traitlets==5.9.0
triton==2.0.0
typing_extensions
tzdata==2023.3
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==1.0.1
widgetsnbextension==3.5.2
wrapt==1.12.1
zc.lockfile==2.0
zipp==3.15.0
rouge_score==0.1.2
